VITE_SUPABASE_URL=https://scgokpcoyfewrtrwqxpu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qkXDIACBQgrrge462eSpJg_UCMKQNna
NEXT_PUBLIC_SUPABASE_URL=https://scgokpcoyfewrtrwqxpu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qkXDIACBQgrrge462eSpJg_UCMKQNna
